@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  --primary-color: #04344a;
  --primary-light: #00000015;
  --border-dark: #00000069;
  /* --secondary-color:  #04344a; */
  --secondary-color: #045a77;
  --secondary-light: #ffffff69;
  --heading-font: 32px;
}

